main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden; /* To ensure no overflow issues */
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* This will apply overflow hidden globally */
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; /* Ensures it's behind interactive elements but above the background */
}

.meme-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* More reasonable width */
    height: 100%; /* Adjust height accordingly */
    max-width: 500px; /* Maximum width to avoid overly large images on bigger screens */
}

.toolbar {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

@media (max-width: 768px) {
    .social-links {
        bottom: 20px;
        right: 20px;
    }
    .social-link {
        width: 40px; /* Reduced size for smaller screens */
        height: 40px;
    }
    .meme-images {
        width: 95%; /* Utilizes more screen space effectively */
        height: auto; /* Auto-adjust height based on content */
    }
}

.bottom-left-image {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.social-links {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 50; /* Ensures visibility over the canvas */
}

.social-link {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 52px;
    height: 52px;
    transition: transform 0.3s ease;
}

.social-link:hover {
    transform: scale(1.1);
}

img {
    width: 100%;
    height: auto; /* Adjust height automatically to maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the area properly */
    display: block;
}
